/*==================== GOOGLE FONTS ====================*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

/*==================== VARIABLES CSS ====================*/
:root {
    /* --header-height: 3rem; */

    /*========== Colors ==========*/
    /* Change favorite color */
    --hue-color: 207; /*Purple 250 - Green 142 - Blue 230 - Pink 340*/
    --sat:90%;
    --lig:61%;

    /* HSL color mode */
    /* --first-color: hsl(var(--hue-color), 69%, 61%);
    --first-color-second: hsl(var(--hue-color), 69%, 61%);
    --first-color-alt: hsl(var(--hue-color), 57%, 53%);
    --first-color-lighter: hsl(var(--hue-color), 92%, 85%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --text-color: hsl(var(--hue-color), 8%, 45%);
    --text-color-light: hsl(var(--hue-color), 8%, 65%);
    --input-color: hsl(var(--hue-color), 70%, 96%);
    --body-color: hsl(var(--hue-color), 60%, 99%);
    --container-color: #fff; */


    --first-color: hsl(var(--hue), var(--sat), var(--lig));
    /* --first-color-second: hsl(var(--hue-color), 69%, 61%); */
    --first-color-alt: hsl(var(--hue), var(--sat), 57%); /* -4% */
    /* --first-color-lighter: hsl(var(--hue-color), 92%, 85%); */
    --title-color: hsl(var(--hue), 12%, 15%);
    --text-color:  hsl(var(--hue), 12%, 45%);
    --text-color-light:  hsl(var(--hue), 8%, 75%);
    --text-color-lighten:  hsl(var(--hue), 8%, 92%);
    /* --input-color: hsl(var(--hue-color), 70%, 96%); */
    --body-color: hsl(var(--hue), 100%, 99%);
    --container-color: #fff;








     /* #fff; */
    /* --scroll-bar-color: hsl(var(--hue-color), 12%, 90%);
    --scroll-thumb-color: hsl(var(--hue-color), 12%, 80%); */

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    /* --h1-font-size: 1.5rem; */
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /* ========== Font weight ========== */
    /* --font-medium: 500;
    --font-semi-bold: 600;

    /*========== Margenes Bottom ==========*/
    /* .25rem = 4px, .5rem = 8px, .75rem = 12px ... */
    /* --mb-0-25: .25rem;
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    /* --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000; */
     /* */ */ */
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*========== Variables Dark theme ==========*/


/*========== Button Dark/Light ==========*/


/*==================== BASE ====================*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  /* margin: 0 0 var(--header-height) 0; */
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*==================== REUSABLE CSS CLASSES ====================*/
/* .section {
  padding: 2rem 0 4rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
}

.section__subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.section__title, 
.section__subtitle {
  text-align: center;
} */

/*==================== LAYOUT ====================*/
.container {
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.header {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color)
}

  /*==================== PROFILE ====================*/
  .profile{
    position: relative;
    padding-top: 3.5rem;

  }
  .profile__container{
    row-gap: 2rem;

  }
  .profile__data{
    display: grid;
    text-align: center;
  }
  .profile__perfil{
    width: 100px;
    height: 150px;
    background: linear-gradient(180deg,
    hsla(var(--hue), var(--sat), var(--lig), 1) 0%,
    hsla(var(--hue), var(--sat), var(--lig), .2) 100%);

    border-radius:80%;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .profile__perfil img{
    width: 75px;
  }
  .profile__border{
    border: 3.5px solid var(--first-color);
    justify-self: center;
    width: 115px;
    height: 115px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    margin-bottom: 75rem;
  }

  .profile__name{
    font-size: var(--h2-font-size);
  }
  .profile__profession{
    font-size: var(--smaller-font-size);
    font-weight: 500;
    color: var(--text-color);
    margin-bottom: 1rem;

  }
  .profile__social{
    display: flex;
    justify-content: center;
    column-gap: 75rem;
  
  }
  .profile__social-link
{
  font-size: 1.25rem;
  color: var(--tiyle-color);
  transition: .3s;
}
.profile__social-link:hover{
  color: var(--first-color);

}
.profile__info{
  grid-template-columns: repeat(3, max-content);
  justify-content: center;
  column-gap: 2.5rem;
}

.profile__info-group{
  text-align: center;
}
.profile__info-group{
  font-size: var(--normal-font-size);
  margin-bottom: 25rem;
}

.profile__info-description{
  font-size: var(--smaller-font-size);
  font-weight: 500;
}

.profile__buttons,
.profile__buttons-small{
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile__buttons{
  column-gap: 1rem;
}
.profile__buttons-small{
  column-gap: 25rem;
}


/*==================== BUTTONS ====================*/

.button{
  display: inline-flex;
  align-items: center;
  column-gap: .5rem;
  background-color: green;
  /* var(--first-color); */
  color: black;
  padding: 1.15rem 1.5rem;
  border-radius: .5rem;
  transition: .3s;
  box-shadow:  0 8px 24px hsla(var(--hue), var(--sat), var(--lig), .25);
 
}

.button i{
  font-size: 1.25rem;
}
.button:hover{
  background-color: var(--first-color-alt);
}
.button__small{
  padding: 0.75rem;
  box-shadow: none;
}
.button__gray{
  background-color: var(--text-color-lighten);
  color: var(--title-color);

}

.button__gray:hover{
  color: #000;
  

}


/* ==================== FILTER TABS==================== */
 .filters__content{ 
  margin: 2rem 0 2.5rem;
  background-color:lightgrey;
  padding: .375rem;
  border-radius: .100rem;
  display: flex;
  justify-content: space-around;
  column-gap: .5rem;
} 
.filters__button{
  width: 100%;
  border: none;
  outline: none;
  padding: 1rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  font-family: var(--body-font);
  font-weight: 500;
  border-radius: .75rem;
  cursor: pointer;
  background-color: transparent;
  transition: .3s;
}
.filters__button:hover
{
  background-color: var(--body-color);
}


/*====================PROJECTS ====================*/

.projects__card{
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
}

/* .projects__card img{
  width: 100%;
  height: 100%;
} */
.projects__modal{
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -100%;
  left: 0;
  background: linear-gradient(180deg,
                hsla(var(--hue), 24%, 40%, .3) 0%,
                hsla(var(--hue), 24%, 4%, 1) 95%); 
  display: grid;
  align-items: flex-end;
  padding: 1.5rem 1.25rem;
  transition: 3s;              
}

.projects__subtitle,
.projects__title{
  color: #fff;
}

.project__subtitle{
  font-size: var(--smaller-font-size);
}

.project__title{
  font-size: var(--h3-font-size)
}
.project__button{
  padding: .5rem;
}

.projects__card:hover .projects__modal{
  bottom: 0;

}


/*==================== NAV ====================*/


/* show menu */


/* Active link */


/* Change background header */


/*==================== HOME ====================*/





/*==================== ABOUT ====================*/


/*==================== SKILLS ====================*/


/*==================== QUALIFICATION ====================*/


/*==================== SERVICES ====================*/


/* Active Modal */


/*==================== PORTFOLIO ====================*/


/*==================== PROJECT IN MIND ====================*/


/*==================== TESTIMONIAL ====================*/


/*==================== CONTACT ME ====================*/


/*==================== FOOTER ====================*/


/*========== SCROLL UP ==========*/


/* Show scroll */


/*========== SCROLL BAR ==========*/


/*==================== MEDIA QUERIES ====================*/
/* For small devices */


/* For medium devices */


/* For large devices */
